@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  src: url("./../assets/fonts/OpenSans_Condensed-BoldItalic.ttf");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  src: url("./../assets/fonts/OpenSans_Condensed-SemiBold.ttf");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  src: url("./../assets/fonts/OpenSans-Regular.ttf");
}
header {
  padding: 0px 20px;
}
.logo {
  width: 141px;
  height: 65px;
}

header button {
  background-color: var(--blue);
  color: white;
  border-radius: 25px;
  width: 100px;
  height: 40px;
}
.links {
  font-family: "OpenSans";
  font-size: 1em;
  width: 50%;
  text-align: center;
  color: var(--blue);
}
.hero-section {
  padding: 20px 10px;
  height: 100vh;
  background-image: linear-gradient(180deg, #ffffff 0%, #35bbdf 100%);
}
.hero-text {
  width: 50vw;
  gap: 20px;
  font-family: "OpenSans";
}
.hero-text > p {
  font-size: 28px;
  font-weight: 600;
  color: var(--darkblue);
}
.hero-text > h2 {
  color: var(--blue);
  text-align: center;
  font-weight: bold;
  font-size: 80px;
}
.logo-circle {
  width: 30vw;
}
.about-us {
  font-family: "OpenSans";
  gap: 50px;
  padding: 20px 25px;
  color: var(--darkblue);
  background-image: linear-gradient(180deg, #35bbdf 9%, #ffffff 93%);
}
.about-us h2,
h1 {
  font-size: 40px;
  font-weight: 600;
}
.about-us p {
  font-weight: 300;
  font-size: 20px;
}
.divider {
  background-color: var(--blue);
  height: 200px;
  width: 10px;
}
.expertise-section {
  background-image: linear-gradient(180deg, #feffff 0%, #21dadb 100%);
  gap: 20px;
  padding: 30px 0px;
}
.expertise-section h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "OpenSans";
  padding: 0px 20px;
  color: var(--darkblue);
}
.expertise-section > div {
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  height: 250px;
  max-width: 300px;
  flex-grow: 1;
  border-radius: 10px;
  padding: 30px 20px;
  gap: 20px;
  color: var(--darkblue);
  font-family: "OpenSans";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.card h6 {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.card p {
  font-weight: 500;
  font-size: 0.8rem;
}

.partner-section {
  color: var(--darkblue);
  font-family: "OpenSans";
  padding: 20px;
  gap: 10px;
  background: linear-gradient(0deg, #ffffff 0%, #21dadb 100%),
    linear-gradient(#ffffff, #ffffff);
}

.partner-cards {
  gap: 15px;
  padding: 50px 10px;
  width: 60vw;
}
.partner-card {
  gap: 10px;
  padding: 10px;
  flex-grow: 1;
  max-width: 80vw;
  background-color: var(--lightaqua);
  border-radius: 10px;
}
.partner-section h1 {
  padding: 20px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
}
.partner-section h5 {
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
}
.partner-section p {
  text-align: left;
  font-weight: 300;
  font-size: 0.8rem;
}
@media screen and (max-width: 550px) {
  .links {
    display: none;
  }
  .hero-text > h2 {
    font-size: 18px;
  }
  .hero-text > p {
    font-size: 12px;
  }
  .hero-section {
    height: fit-content;

    flex-direction: column;
  }
  .about-us h2 {
    font-size: 18px;
  }
  .about-us p {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .links {
    display: none;
  }
  .hero-section {
    height: fit-content;
  }
  .hero-text > h2 {
    font-size: 22px;
  }
  .hero-text > p {
    font-size: 14px;
  }
  .hero-section {
    flex-direction: column;
  }
  .partner-section h1 {
    padding: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
  }
}
@media screen and (max-width: 700px) {
  .links {
    display: none;
  }
  .hero-text > h2 {
    font-size: 32px;
  }
  .hero-text > p {
    font-size: 16px;
  }
  .about-us h2 {
    font-size: 25px;
  }
  .about-us p {
    font-size: 18px;
  }
}
@media screen and (max-width: 950px) {
  .hero-text > h2 {
    font-size: 65px;
  }
  .hero-text > p {
    font-size: 24px;
  }
  .about-us h2 {
    font-size: 30px;
  }
  .about-us p {
    font-size: 18px;
  }
}
